<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kuda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kuda">
        <activity
            android:name=".DetailsProjectActivity"
            android:exported="false" />
        <activity
            android:name=".TestCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".DisbursementActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AddProjectActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SettingEditProfileActivity"
            android:exported="false"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kuda.LoginActivity" />
        </activity>
        <activity
            android:name=".SettingNotificationActivity"
            android:exported="false"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kuda.LoginActivity" />
        </activity>
        <activity
            android:name=".SettingDeleteAccActivity"
            android:exported="false"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kuda.LoginActivity" />
        </activity>
        <activity
            android:name=".SettingAccountActivity"
            android:exported="false"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kuda.LoginActivity" />
        </activity>
        <activity
            android:name=".Test"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SettingBankAccountActivity"
            android:exported="false"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kuda.LoginActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kuda.MainActivity" />
        </activity>
        <activity
            android:name=".UserProfile"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Kuda.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kuda.LoginActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kuda.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>